.about-company {
	min-height: 300px;
	width: 70%;
	background-color: white;
	margin: 0 auto;
	border-radius: 20px;
	border: 2px solid black;
	padding: 0 60px;
	@media(max-width:700px) {
		padding: 0 20px;
		width: 85%;
	}
	h2 {
		width: 100%;
		text-align: center;
		@media(max-width:700px) {
			margin-bottom: 0;
		}
	}
	p {
		margin-top: 40px;
		font-size: 20px;
		height: 100%;
		text-align: center;
		@media(max-width:450px) {
			margin-top: 10px;
			font-size: 16px;
		}
	}
}
