.custom-select {
	&__control {
		background-color: transparent !important;	
		border: 2px solid var(--second-color) !important;
		&--is-focused {
			box-shadow: 1px 1px 5px var(--second-color) !important;
		}
	}
	&__value-container {
		cursor: text !important;
		text-align: center !important;
	}
	&__single-value {
		display: flex !important;
		align-items: center !important;
		justify-content: space-evenly !important;
		font-size: 16px !important;
		height: 40px !important;
		img {
			width: 30px !important;
			height: 20px !important;
		}
	}
	&__input-container {
		color: black !important;
		width: 10px !important;
	}
	&__indicators {
		cursor: pointer;
	}
	&__indicator {
		cursor: pointer;
		color: var(--second-color) !important;
	}
	&__option {
		cursor: pointer !important;
		color: black !important;
		display: flex !important;
		align-items: center !important;
		gap: 0 20px !important;
		height: 50px !important;
		font-size: 16px !important;
		img {
			width: 30px !important;
			height: 20px !important;
		}
		&--is-focused {
			background-color: var(--second-color-hover) !important;
		}
		&--is-selected {
			background-color: var(--second-color-selected) !important;
		}
	}
}