@import '../../styles/CustomSelect.scss';
.set-country {
	display: flex;
	gap: 0 5px;
	align-items: center;
	border: 1px solid transparent;
	cursor: pointer;
	height: 60px;
	min-width: 100px;
	max-width: 120px;
	padding: 7px;
	&:hover {
		border-color: white;
	}
	img {
		width: 20px;
		height: 20px;
		margin-top: 10px;
	}
	.user-country {
		p {
			color: rgb(205, 205, 205);
			font-size: 14px;
			margin: 0;
		}
		h2 {
			color: white;
			font-size: 16px;
			margin: 0;
		}
	}
	@media(max-width:700px) {
		&:hover {
			border-color: transparent;
		}
	}
}
.country-modal-wrapper {
	height: 100%;
	width: 100%;
	.modal-top {
		background-color: var(--modal-country-top);
		width: 100%;
		height: 60px;
		border-radius: 10px 10px 0 0;
		padding: 15px;
		border-bottom: 1px solid black;
		h2 {
			color: black;
			font-size: 20px;
			margin: 0;
		}
	}
	.modal-bottom {
		padding: 20px;
		display: flex;
		justify-content: center;
		position: relative;
		select {
			margin-top: 100px;
		}
		.select-wrapper {
			width: 250px;
			margin-top: 50px;
			@media(max-width:600px) {
				font-size: 18px;
			}
		}
		.button-wrapper {
			position: absolute;
			top: 190px;
			right: 30px;
		}
	}
}