.burgerMenu {
	cursor: pointer;
	margin-left: 10px;
	display: flex;
	align-items: center;
	gap: 0 27px;
	border: 1px solid transparent;
	padding: 7px 5px;
	@media(max-width:700px) {
		margin-left: 0;
	}
	&:hover {
		border-color: white;
	}
	.burgerWrapper {
		position: relative;
	span {
		width: 20px;
		height: 3px;
		background-color: white;
		position: absolute;
		bottom: 0;
		&:nth-child(1) {
			transform: translateY(-7px);
		}
		&:nth-child(3) {
			transform: translateY(7px);
		}
	}
}
h2 {
	margin: 0;
	color: white;
	font-size: 18px;
}
}