@import './styles/normalize.scss';
* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	&::selection {
		background-color: rgb(2, 2, 99);
		color: white;
	}
}
a {
	text-decoration: none;
}
ul {
	list-style-type: none;
}
html[data-theme='light'] {
	--color: white;
	--header-top: rgb(1, 1, 28);
	--header-bottom: rgb(37, 37, 80);
	--modal-color: white;
	--modal-country-top: rgb(224, 223, 223);
	--second-color: rgb(250, 180, 2);
	--second-color-hover: rgb(218, 158, 7);
	--second-color-selected: rgb(146, 106, 4);
}
html[data-theme='dark'] {
	--color: black;
	--header-top: rgb(3, 95, 77);
	--header-bottom: rgb(1, 130, 104);
	--modal-color: rgb(176, 175, 175);
	--modal-country-top: rgb(151, 151, 151);
	--second-color: rgb(2, 126, 101);
	--second-color-hover: rgb(4, 142, 114);
	--second-color-selected: rgb(1, 75, 60);
}
body {
	background-color: var(--color);
}